* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: whitesmoke;
}
.gallery {
  max-width: 800px;
  margin: 20px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  background-color: whitesmoke;
}
.gallery-item {
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}
